<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="Error.css">
</head>
<body>
    <div>
        <div class="img-container">
            <img src="./Illustration.svg" alt="404 Error">
        </div>
        <div class="content-container">
            <h1>Page Not Found</h1>
            <p id="small-content">Sorry, the page you’re looking for doesn’t exist. If you think something is broken, report a porblem</p>
            <button><a href="#">Go to home</a></button>
        </div>
    </div>
</body>
</html>