* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-container {
    display: block;
    margin: auto;
    text-align: center;
    width: 448px;
    height: 375px;
    top: 140px;
    left: 496px;
    

}

.content-container {
    color: var(--Dark, #191B1D);
    text-align: center;
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

}

.content-container,
#small-content {

    color: var(--Grey, #4E5358);
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.btn {
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 60px;
    background: var(--orange-primary, #FF5B26);
    color: #fff;
}