@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Syne:wght@400..800&display=swap");

:root {
    --primary: #ff5b26;
    --background-color: #FFF9E5;
    --light-orange: #FFEEB7;
    --light-green: #d2ebd1;
    --light-blue: #cde9ea;
    --light-red: #ffd9bf;
    --green: #1eb482;
    --yellow: #ffc200;
    --text-color: #191b1d;
    --desc-color: #4E5358;
    --text-btn: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Manrope, sans-serif;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
   
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
}
ol,
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Syne, san-serif;
}
