@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Syne:wght@400..800&display=swap");
:root {
    --primary: #ff5b26;
    --background-color: #fff9e5;
    --light-orange: #ffeeb7;
    --light-green: #d2ebd1;
    --light-blue: #cde9ea;
    --light-red: #ffd9bf;
    --green: #1eb482;
    --yellow: #ffc200;
    --text-color: #191b1d;
    --desc-color: #4e5358;
    --text-btn: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Manrope, sans-serif;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: inherit;
}

// .container {
//     max-width: 1170px;
//     margin: 0 auto;
// }
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Syne, san-serif;
    font-size: inherit;
}

@media (max-width: 1024px) {
    html {
        font-size: 55%; /* Giảm font-size khi màn hình nhỏ hơn 1024px -Tablet */
    }
}

@media (max-width: 768px) {
    html {
        font-size: 47%; /* Giảm tiếp khi màn hình nhỏ hơn 768px -Mobile */
    }
}
