@use "./src/styles/abstracts" as abstracts;

.user-navigation {
    .nav-list {
        position: absolute;
        top: 10%;
        right: -150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000;
        @include abstracts.screen(sm) {
            background-color: #fff;
            border-radius: 12px;
            top: 42px;
            right: -31px;
        }
        .nav-item {
            width: 150px;
            display: block;
            text-align: center;
            padding: 10px;
            border-radius: 12px;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            &:hover {
                background: rgba(
                    255,
                    255,
                    255,
                    0.1
                ); // Màu trắng trong suốt nhẹ
                backdrop-filter: blur(10px); // Làm mờ nền phía sau
                -webkit-backdrop-filter: blur(10px); // Hỗ trợ Safari
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

                transform: translateY(-5px);
            }
        }
    }
    .text {
        width: 100%;
        color: #191b1d;
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 24px;
    }
}
