.user-navigation {
    top: 50px;
    left: -30px;
    background-color: #fff;
    width: 200px;
    border-radius: 15px;
    padding: 20px;
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-item {
            display: block;
            padding: 10px;
        }

    }
    .text {
        width: 100%;
        color: #191b1d;
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 24px;
    }
}
