.mission {
    margin-top: 50px;
    .inner {
        .content {
            .text {
                display: flex;
                flex-direction: column;
                align-items: center;

                .title {
                    width: 570px;
                    color: #191B1D;
                    text-align: center;
                    font-size: 5.2rem;
                    font-weight: 700;
                    line-height: 1.07;
                }

                .desc {
                    width: 570px;
                    margin-top: 18px;
                    color: #4E5358;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 1.66;
                }

            }

            .card-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;
                text-align: center;
                margin-top: 70px;
            }
        }
    }
}