.error {
  .inner {
    width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(50%, 0%);
    margin-top: 100px;
    .image {
      width: 447.7px;
    }
    .title {
      color: #191b1d;
      font-size: 2.4rem;
      line-height: 1.25;
      margin-top: 38.39px;
    }
    .descript {
      color: #4e5358;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.66; /* 166.667% */
      margin-top: 18px;
    }
    .btn {
      padding: 15px 35px;
      margin-top: 38px;
    }
  }
}
