@use "./src/styles/abstracts" as abstracts;

.more {
    .background {
        position: relative;
        object-fit: cover;
        height: 727px;
    }

    .title {
        width: 870px;
    }
}

.hero {
    background-color: #fff9e5;
}

.inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include abstracts.screen(sm) {
        width: 100%;
    }
    .background {
        width: 100vw;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        margin-top: 40px;
        text-align: center;
        width: 100%;
        @include abstracts.screen(sm) {
            margin-top: 15px;
        }
        .title {
            width: 870px;
            color: #191b1d;
            font-size: 7.2rem;
            font-weight: 700;
            line-height: 1;
            @include abstracts.screen(sm) {
                width: 100%;
                font-size: 5rem;
            }
        }

        .desc {
            margin-top: 18px;
            text-align: center;
            width: 770px;
            color: #4e5358;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.67;
            @include abstracts.screen(sm) {
                width: 100%;
            }
        }
    }

    .form {
        position: relative;
        margin-top: 38px;
        padding: 0 15px;
        width: 770px;
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 42px;
        box-shadow: 0px 20px 90px 0px rgba(157, 110, 0, 0.1);
        @include abstracts.screen(sm) {
            width: 100%;
            margin-top: 20px;
            height: 60px;
        }
        .input {
            position: relative;
            width: 40%;
            padding: 25px 20px;
            color: #4e5358;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.75;
            @include abstracts.screen(sm) {
                padding: 10px;
                font-size: 1.3rem;
            }
        }

        .icon {
            cursor: pointer;
            @include abstracts.screen(sm) {
                width: 15px;
                height: 15px;
            }
        }

        &::before {
            z-index: 1;
            content: "";
            position: absolute;
            top: 50%;
            left: 40%;
            width: 1px;
            height: 60px;
            background: #d9dee2;
            transform: translateY(-50%);
            @include abstracts.screen(sm) {
                left: 42%;
            }
        }

        .btn {
            padding: 15px 35px;
            @include abstracts.screen(sm) {
                padding: 7px;
            }
        }

        .date {
            position: absolute;
            top: 100%;
            left: 36%;
            z-index: 1;
            border-radius: 12px;
            @include abstracts.screen(sm) {
                left: 0;
                right: 0;
                z-index: 1;
            }
        }
    }

    .image {
        margin-top: -40px;
        display: block;
        width: 1170px;
        height: 500px;
        border-radius: 24px;
        @include abstracts.screen(sm) {
            width: 100%;
            height: auto;
        }
    }
}
.more {
    .background {
        position: relative;
        object-fit: cover;
        height: 740px;
    }
    .title {
        width: 870px;
    }
}

.destination {
    .background {
        position: relative;
        object-fit: cover;
        height: 390px;
    }

    .content {
        padding: 30px 0 70px;

        .title {
            color: #fff;
            font-size: 7.2rem;
            font-weight: 700;
            line-height: 1;
        }

        .desc {
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.66;
        }
    }
}

.spotdetails {
    .background {
        padding-bottom: 92px;
    }

    .content {
        margin-top: 0;

        .title {
            margin-top: 44px;
            transform: translateX(-15%);
            width: auto;
            color: #191b1d;
            font-size: 7.2rem;
            font-weight: 700;
            line-height: 1;
        }

        .desc {
            text-align: left;
            transform: translateX(-17%);
            width: 870px;
            color: #4e5358;
            font-family: Manrope;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.66;
            margin-top: 18px;
        }
        .image {
            margin-top: 55px;
            border-radius: 24px;
        }
    }
}
