.wrapper {
    font-weight: 600;
    border-radius: 999px;
    cursor: pointer;
    background-color: transparent; 
    user-select: none;
    
    + .wrapper {
        margin-left: 20px;
    }

    // Disabled button
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
//Active button
.active {
    color: #fff;
    font-weight: 600;
    background-color: #ff5b26;

    &:hover {
        background: #eb5829;
        color: #fff;
    }
}
//Inactive button
.inactive {
    color: #191b1d;
    font-weight: 600;
    border: 1px solid #191b1d;

    &:hover {
        background: #eb5829;
        border: 1px solid #eb5829;
        color: #fff;
    }
}
//Text button
.text {
    &:hover {
        text-decoration: underline;
    }
}
