.header {
    padding: 36px 0;
    background: #fff9e5;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar__list {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 32px;
    }

    .navbar__link {
        color: #4e5358;
        padding: 8px 10px;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .write {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px;
            border-radius: 9999px;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            &:hover {
                background: rgba(
                    255,
                    255,
                    255,
                    0.1
                ); // Màu trắng trong suốt nhẹ
                backdrop-filter: blur(10px); // Làm mờ nền phía sau
                -webkit-backdrop-filter: blur(10px); // Hỗ trợ Safari
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

                transform: translateY(-5px);
            }
        }
    }

    .btn {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: black;
        background: transparent;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        .dot {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ff5b26;
            z-index: 1;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.1); // Màu trắng trong suốt nhẹ
            backdrop-filter: blur(10px); // Làm mờ nền phía sau
            -webkit-backdrop-filter: blur(10px); // Hỗ trợ Safari
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transform: translateY(-5px);
        }
    }

    .user-avt {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    .action {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.action__btn {
    min-width: 107px;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 1.75;
}
