.header {
    padding: 36px 0;
    background: #fff9e5;
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar__list {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .navbar__link {
        color: #4e5358;
        padding: 8px 10px;
    }
}

.action__btn {
    min-width: 107px;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 1.75;
}
