<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commingsoon</title>
    <link rel="stylesheet" href="Cs.css">
</head>
<body>
    <header>
        <div class="logo">Pathway</div>
        <nav>
            <a href="Destinations link">Destinations</a>
            <a href="About link">About</a>
            <a href="Blog link">Blog</a>
            <a href="Page link">Page</a>
        </nav>
        <div class="auth-buttons">
            <a href="Login link" class="login">Log In</a>
            <a href="Sign up link" class="signup">Sign Up</a>
        </div>
    </header>

    <section class="cm-body">
        <div class="cm-content">
            <h1>Something <span>special</span> is going to change</h1>
            <p>Are you ready to get something new from us? Then subscribe to the newsletter to get the latest updates.</p>
            <form class="subscribe-form">
                <input type="email" placeholder="Enter your email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
        <div class="Body-image">
            <img src="../../img/#287_startup_flatline (1).svg" alt="Anh">
        </div>
    </section>
</body>
</html>
