.city {
    display: flex;
    margin-top: 16px;

    .icon {
        width: 17px;
    }

    .location {
        margin-left: 6px;
        color:#4E5358;
        font-family: Manrope;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.75;
    }
}