@use "./src/styles/abstracts" as abstracts;

.feature {
    margin-top: 150px;
    @include abstracts.screen(sm) {
        margin-top: 200px;
    }
}
.inner {
    display: flex;
    align-items: center;
    @include abstracts.screen(sm) {
        display: block;
    }
}
.left {
    margin-top: 143px;
    width: 40%;
    @include abstracts.screen(sm) {
        width: 100%;
        padding: 10px;
        margin-top: 55px;
    }
    .title {
        color: #191b1d;
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 1.07;
        @include abstracts.screen(sm) {
            width: 100%;
            font-size: 5rem;
        }
    }
    .desc {
        margin-top: 18px;
        color: #4e5358;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        @include abstracts.screen(sm) {
            display: none;
        }
    }
    .btn {
        padding: 15px 35px;
        margin-top: 38px;
        font-size: 18px;
        @include abstracts.screen(sm) {
            margin-top: 20px;
        }
    }
}
.right {
    margin-left: 130px;
    @include abstracts.screen(sm) {
        margin-left: 0;
    }
}
.card {
    position: relative;
    margin-top: 30px;
    display: flex;
    width: 470px;
    padding: 38px 20px;
    transition: transform 0.5s ease;
    @include abstracts.screen(sm) {
        width: 100%;
        padding: 20px 10px;
        margin-top: 10px;
    }
    .decor-img {
        width: 64px;
        height: 64px;
    }

    .content {
        margin-left: 24px;
    }
    .title {
        color: #191b1d;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.25;
    }
    .desc {
        margin-top: 8px;
        color: var(--Grey, #4e5358);
        font-weight: 400;
        line-height: 1.75;
    }
    &:hover {
        transform: translateX(100px);
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 20px 90px 0px rgba(25, 27, 29, 0.1);
        @include abstracts.screen(sm) {
            transform: translateX(0);
            box-shadow: 0px 10px 50px 0px rgba(25, 27, 29, 0.1);
        }
    }
}
