.img {
    margin: 55px 0 30px 0;
    width: 770px;
    height: 440px;
    border-radius: 12px;
    object-fit: cover;
}
.paragraph {
    margin: 20px 0;
    color: #4e5358;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.67;
}

.component-list {
    margin-left: 30px;
}
.item {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
